
[Desktop Entry]
Name=Remote Admin
Version=1.0
Exec=/opt/remote-admin/admin -window
Icon=system-help
Terminal=false
StartupNotify=false
Type=Application
