
[Desktop Entry]
Name=ОСГОС Админ
Version=1.0
Exec=/opt/remote-admin/admin -window
Icon=/usr/share/pixmaps/remote-admin.png
Terminal=false
StartupNotify=false
Type=Application
