
[Desktop Entry]
Name=Remote Admin
Version=1.0
Exec=sh -c "xhost +; /opt/remote-admin/admin -window; xhost -;"
Icon=/usr/share/pixmaps/remote-admin.ico
Terminal=false
StartupNotify=false
Type=Application
