html {
    padding-top: 25px;
    background-color: #A0A0A0;
}

body {
    background-color: #A0A0A0;
}

legend, label {
    color: white;
}

div {
    border: none;
}

.holder {
    text-align: center;
}

.content {
    width: 500px;
    margin: 0 auto;
}

input {
    width: 100%;
}

select {
    width: 100%;
}

.row {
    align-items: center;
}

.r {
    text-align: right;
}

.l {
    text-align: left;
}

.b select {
    width: 165px;
}

.b button {
    margin-right: 0;
}

div.b {
    padding-right: 0;
}

.content {
    margin: 0 auto;
    padding-top: 25px;
}

.center {
    text-align: center;
}

#copyright {
    text-align: center;
    font-size: 6pt;
    color: white;
}

.white {
    color: white;
}
